<%= stylesheet_link_tag "experiences/santa_squad", media: "screen", "data-turbolinks-track" => true %>

<div id="Santa_Squad_Experience" role="application">
    <div id="experience-view" aria-hidden="false">
        <div class="image_pane">         
        	<a href="" class="noClick"><h1><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/mobile_santa_squad/m_ss_bg_01.jpg" alt="Santa Squad. Raise a cheer for all to hear and you could win big this year! Holiday Traditions are back! Check out Santa's go-to scents then enter our sweepstakes" width="100%" /></h1></a>                  
        </div>
        <div id="SS_animation01" class="sprite_player responsive">
            <button class="pause-button BTN responsive paused">Play Team Vanilla Bean Animation</button>    
            <a href="">
            <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/mobile_santa_squad/animation_images/m_ss_animation_01_01.jpg" class="sprite_animation responsive" role="presentation" alt="" width="100%" />
            </a>
        </div>          
        <div class="image_pane"><a href="" class="noClick">
        	<h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/mobile_santa_squad/m_ss_bg_03.jpg" alt="Vanilla Bean Noel. Let's hear it for delicious sugar cookies with a hint of fresh vanilla - a treat this sweet can't be beat!" width="100%" /></h2></a>
        	<button id="tweetBTN01" class="tweetBTN BTN responsive">Tweet It!</button>
        </div>
        <div id="SS_animation02" class="sprite_player responsive">
            <button class="pause-button BTN responsive paused">Play Winter Candy Crew Animation</button>    
            <a href="">
            <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/mobile_santa_squad/animation_images/m_ss_animation_02_01.jpg" class="sprite_animation responsive" role="presentation" alt="" width="100%" />
            </a>
        </div>          
        <div class="image_pane"><a href="" class="noClick">
        	<h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/mobile_santa_squad/m_ss_bg_05.jpg" alt="Winter Candy Apple. This festive fave will elicit a delighted squeal with red apple, winter rose petals, and candied orange peel!" width="100%" /></h2></a>
        	<button id="tweetBTN02" class="tweetBTN BTN responsive">Tweet It!</button>
        </div>   
        <div id="SS_animation03" class="sprite_player responsive">
            <button class="pause-button BTN responsive paused">Play Twisted Pepp Squad Animation</button>    
            <a href="">
            <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/mobile_santa_squad/animation_images/m_ss_animation_03_01.jpg" class="sprite_animation responsive" role="presentation" alt="" width="100%" />
            </a>
        </div>          
        <div class="image_pane"><a href="" class="noClick">
        	<h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/mobile_santa_squad/m_ss_bg_07.jpg" alt="Twisted Peppermint. This is one scent not to be missed. Everyone loves this cool peppermint scent with a sweet vanilla twist" width="100%" /></h2></a>
        	<button id="tweetBTN03" class="tweetBTN BTN responsive">Tweet It!</button>
        </div> 
        <div id="SS_animation04" class="sprite_player responsive">
            <button class="pause-button BTN responsive paused">Play Jingle Gang Animation</button>    
            <a href="">
            <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/mobile_santa_squad/animation_images/m_ss_animation_04_01.jpg" class="sprite_animation responsive" role="presentation" alt="" width="100%" />
            </a>
        </div>          
        <div class="image_pane"><a href="" class="noClick">
        	<h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/mobile_santa_squad/m_ss_bg_09.jpg" alt="Jingle All The Way. Iced clementine, sparkling snowflakes and blue spruce too, this new scent will havve you holler woo-hoo!" width="100%" /></h2></a>
        	<button id="tweetBTN04" class="tweetBTN BTN responsive">Tweet It!</button>
        </div> 
        <div id="SS_animation05" class="sprite_player responsive">
            <button class="pause-button BTN responsive paused">Play Merry Berry Besties Animation</button>    
            <a href="">
            <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/mobile_santa_squad/animation_images/m_ss_animation_05_01.jpg" class="sprite_animation responsive" role="presentation" alt="" width="100%" />
            </a>
        </div>          
        <div class="image_pane"><a href="" class="noClick">
        	<h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/mobile_santa_squad/m_ss_bg_11.jpg" alt="Merry Berry Christmas. A happy holiday blend of pink prescco and frosted berries. This new holiday scent is sure to make you merry!" width="100%" /></h2></a>
        	<button id="tweetBTN05" class="tweetBTN BTN responsive">Tweet It!</button>
        </div> 
        <div id="SS_animation06" class="sprite_player responsive">
            <button class="pause-button BTN responsive paused">Play The Red Velvet Cheer Animation</button>    
            <a href="">
            <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/mobile_santa_squad/animation_images/m_ss_animation_06_01_2.jpg" class="sprite_animation responsive" role="presentation" alt="" width="100%" />
            </a>
        </div>
        <div class="image_pane"><a href="" class="noClick">
        	<h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/mobile_santa_squad/m_ss_bg_15.jpg" alt="Red Velvet Cheer. This new Tradition is a welcome addition! You'll love the scent of this cupcake-inspired limited edition!" width="100%" /></h2></a>
        	<button id="tweetBTN06" class="tweetBTN BTN responsive">Tweet It!</button>
        </div>           
        <div class="pxSpacer responsive"></div>
        <div class="image_pane"><a href="" class="noClick">
        	<h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/mobile_santa_squad/m_ss_bg_13.jpg" alt="Santa Squad Sweepstakes. Enter to win a Holiday Traditions prize pack in the scent you love plus a $25 Bath and Body Works gift card. We're picking 5 winners every Friday, now through December 18th! Over a $125 Value!" width="100%" /></h2></a>
        	<a href="https://app.promo.eprize.com/bathandbodyworkssantasquad" id="enterNowBTN" class="BTN responsive" onclick="setSweepsElementTag();" target="_blank">ENTER NOW</a>
        </div>    
        <div class="image_pane"><a href="" class="noClick">
        	<h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/mobile_santa_squad/m_ss_bg_14.jpg" alt="Treat yourself to your favorites! These scents and more festive fragrance have arrived." width="100%" /></h2></a>
        	<a href="http://www.bathandbodyworks.com/family/index.jsp?categoryId=78184626&cp=4090262" id="shopNowBTN" class="BTN responsive">SHOP NOW</a>
        </div>                  
    </div>
</div>