<%= stylesheet_link_tag "experiences/happy_spring", media: "screen", "data-turbolinks-track" => true %>

<div id="HappySpring">
	<div class="experience-view">
		<div id="Pane_01" class="image_pane">
			<h1 class="tabber">Bath and Body Works Firstlook. Sun's Up, Flowers are blooming, Blue skies are here. Happy Spring</h1>
		</div>
		<div id="Pane_02" class="image_pane">
			<h2 class="tabber">Spring means new and fresh - exactly why we can't wait to give you a sneak peek of the season's best fragrances!</h2>
		</div>
		<div id="Pane_03" class="image_pane">
			<h2 class="tabber">Warm weather calls for a sweet and refreshing treat. Our favorite? Raspberries and mint</h2>
		</div>
		<div id="Pane_04" class="image_pane">
			<h2 class="tabber">Great news! We're serving up a brand new batch of watermellon lemonade. A fan favorite now in body care too!</h2>
		</div>
		<div id="Pane_05" class="image_pane">
			<h2 class="tabber">Flowers and fruit, lavender and apricot - some scents are just better together</h2>
		</div>
		<div id="Pane_06" class="image_pane">
			<h2 class="tabber">Ah, relaxing on the porch swing... nothing takes us there like a juicy peach scent</h2>
		</div>
		<div id="Pane_07" class="image_pane">
			<h2 class="tabber">Even April showers are perfect when gardenias are blooming</h2>
			<a href="http://www.bathandbodyworks.com/family/index.jsp?categoryId=35108546" id="ctaBTN" class="ctaBTN BTN">Get set for spring!</a>
		</div>
		<div id="Pane_08" class="image_pane">
			<h2 class="tabber">We heart moms! Hey, Firstlook fans! Don't forget - fresh spring scents make a sweet surprise! Mother's day is may 8th!</h2>
			<a href="http://www.bathandbodyworks.com/category/index.jsp?categoryId=12587013" id="momBTN" class="momBTN BTN">Shop Gifts</a>
		</div>
		<div id="Pane_09" class="image_pane">
			<a href="https://www.instagram.com/bathandbodyworks" id="InstaBTN" class="InstaBTN BTN">Get your daily dose of #HappySpring with us on Instagram</a>
		</div>
	</div>
</div>