<%= stylesheet_link_tag "experiences/happy_spring", media: "screen", "data-turbolinks-track" => true %>

<div id="HappySpring">
	<div class="signup-view">
		<div class="logo_backdrop"><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/happy_spring/desktop/login_text_backdrop.png" alt="" /></div>
		<div class="logo"><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/happy_spring/desktop/login-logo.png" alt="Firstlook Bath and Body Works" /></div>
		<div class="logotext"><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/happy_spring/desktop/login-logo_text.png" alt="" /></div>
		<div class="form-container absolute-item">
			<form id="firstlookForm" class="scaling" action="#">
				<input type="hidden" /> <input type="hidden" /> <input type="hidden"/> <input type="hidden" /> <input type="hidden" /> <input type="hidden" /><input type="hidden" /><input type="hidden" id="CONSENT_TYPE"/><input type="hidden" /><input type="hidden" /><input type="hidden" />
				<div id="i-rollover-container"></div>
				<input type="text" id="email" /><input type="submit" value="JOIN NOW!"/><label for="email" class="email-label">Email Address</label>
				<div class="checkbox-container"><input type="checkbox" id="check1" /><label for="check1" class="check1-label">Yes! Please send me emails for special offers and the latest news from Bath &amp; Body Works.</label></div>
			</form>
		</div>
	</div>
</div>