<%= stylesheet_link_tag "experiences/fall_lookbook", media: "screen", "data-turbolinks-track" => true %>

<div id="Mobile_Fall_Lookbook" role="application">
	<div id="experience-view" aria-hidden="true">    
	    <div id="Lookbook_topmenu" aria-expanded="false" role="navigation">
	        <div id="Lookbook_topmenu_xbutton">
	            <button aria-label="Close Navigation Menu" aria-controls="Lookbook_topmenu"><i class="X_icon icon"></i></button>
	        </div> 
	        <div id="Lookbook_btnContainer" class="center">             
	            <div id="topmenu_title" class="center">
	                <span id="topmenu_title_text">JUMP INTO FALL</span>
	            </div>  
	            <nav class="topmenu_nav_wrap" role="navigation">
	                <ul id="topmenu_nav">
	                    <li id="topmenu_traditions" class="Lookbook_topmenu_button">
	                      <a href="">FALL TRADITIONS</a>
	                    </li>
	                    <li id="topmenu_pumpkin" class="Lookbook_topmenu_button">
	                      <a href="">PUMPKIN</a>
	                    </li>
	                    <li id="topmenu_apple" class="Lookbook_topmenu_button">
	                      <a href="">APPLE</a>
	                    </li>
	                    <li id="topmenu_halloween" class="Lookbook_topmenu_button">
	                      <a href="">HALLOWEEN</a>
	                    </li>
	                    <li id="topmenu_collection" class="Lookbook_topmenu_button">
	                      <a href="">HARVEST COLLECTION</a>
	                    </li>    
	                    <li id="topmenu_home" class="Lookbook_topmenu_button">
	                      <a href="">HOME</a>
	                    </li>                                     
	                </ul>
	            </nav>        
	        </div>                                                               
	    </div>        
	    <div id="hamburger_menu_button">
	        <button aria-label="Open Navigational Menu" aria-controls="Lookbook_topmenu"><i class="hamburger_icon icon"></i></button>
	    </div>
	    <div id="Lookbook_HP" class="Lookbook_page active" aria-hidden="false">
	        <header role="banner">
	            <div id="Lookbook_HP_Slideshow" class="responsive">
	                <div class="slide_image responsive"><h1><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_HP_01_A.jpg" alt="Jump Into Fall! A first peek for our favorite fragrance fans." width="100%"></h1></div>
	                <div class="slide_image responsive"><h1><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_HP_01_B.jpg" alt="Jump Into Fall! A first peek for our favorite fragrance fans." width="100%"></h1></div>
	                <div class="slide_image responsive"><h1><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_HP_01_C.jpg" alt="Jump Into Fall! A first peek for our favorite fragrance fans." width="100%"></h1></div>
	                <div class="slide_image responsive"><h1><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_HP_01_D.jpg" alt="Jump Into Fall! A first peek for our favorite fragrance fans." width="100%"></h1></div>
	                <div class="slide_image responsive"><h1><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_HP_01_E.jpg" alt="Jump Into Fall! A first peek for our favorite fragrance fans." width="100%"></h1></div>
	                <div class="slide_image responsive"><h1><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_HP_01_F.jpg" alt="Jump Into Fall! A first peek for our favorite fragrance fans." width="100%"></h1></div>
	            </div>
	         </header>
	         <div>
	            <div id="hpmenu_traditions" class="hpmenu_btn_container responsive" role="link" aria-label="Signature Collection">
	                <a href="" class="hpmenu_btn responsive">SIGNATURE COLLECTION</a>
	            </div>
	            <div id="hpmenu_pumpkin" class="hpmenu_btn_container responsive" role="link" aria-label="Pumpkin">
	                <a href="" class="hpmenu_btn responsive">PUMPKIN</a>
	            </div>               
	            <div id="hpmenu_apple" class="hpmenu_btn_container responsive" role="link" aria-label="Apple">
	                <a href="" class="hpmenu_btn responsive">APPLE</a>            
	            </div>
	            <div id="hpmenu_halloween" class="hpmenu_btn_container responsive" role="link" aria-label="Halloween">
	                    <a href="" class="hpmenu_btn responsive">HALLOWEEN</a> 
	            </div>
	            <div id="hpmenu_collection" class="hpmenu_btn_container responsive" role="link" aria-label="Home Fragrance">
	                <a href="" class="hpmenu_btn responsive">HOME FRAGRANCE</a> 
	            </div>                                
	        </div>            
	        <div>
	            <div><h2 class="imageHeading"><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_HP_08.jpg" alt="#JUMPINTOFALL with our favorite bloggers and trendsetters!" width="100%"></h2></div>
	            <div id="Lookbook_Influencer_Slideshow" class="responsive">
	                <div class="Influencer_slide responsive" aria-hidden="false"><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_Influencer_BG_01.jpg" alt="Let's Go Pick Your Pumpkin! I jump into fall by wearing sweaters, drinking apple cider and eating donuts of course! - Jordan Ferney of Oh Happy Day" width="100%">
	                	<div class="slide_brn_container responsive">
	                        <a href="http://www.bathandbodyworks.com/family/index.jsp?categoryId=70825236&amp;cp=4090263" id="slide_1_explore" class="explore_btn_cta responsive" aria-label="Jordan's PERFECT PUMPKINS" target="_blank">PERFECT PUMPKINS</a>
	                    </div>
	                    <div class="influencer_instagram_button responsive">
	                        <a href="https://instagram.com/bathandbodyworks" target="_blank" aria-label="Bath and Body Work's Instagram" aria-controls="Lookbook_topmenu" id="slide_1_instagram"><i class="influencer_instagram_icon icon responsive">Bath and Body Work's Instagram</i></a>
	                    </div>
	                    <div class="influencer_pinterest_button responsive">
	                        <a href="https://www.pinterest.com/bathbodyworks" target="_blank" aria-label="Bath and Body Work's Pinterest" aria-controls="Lookbook_topmenu" id="slide_1_pinterest"><i class="influencer_pinterest_icon icon responsive"></i></a>
	                    </div>                           
	                </div>
	                <div class="Influencer_slide responsive" aria-hidden="true"><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_Influencer_BG_02.jpg" alt="Trick or Treat Yourself! These are must-have treats every fall! - Courtney Whitmore of Pizzazzerie" width="100%">
	                	<div class="slide_brn_container responsive">
	                        <a href="http://www.bathandbodyworks.com/family/index.jsp?categoryId=70825146&amp;cp=4090263" id="slide_2_explore" class="explore_btn_cta responsive" aria-label="Courtney's SPOOK-TACULAR SCENTS" target="_blank">SPOOK-TACULAR SCENTS</a>
	                    </div> 
	                    <div class="influencer_instagram_button responsive">
	                        <a href="https://instagram.com/bathandbodyworks" target="_blank" aria-label="Bath and Body Work's Instagram" aria-controls="Lookbook_topmenu" id="slide_2_instagram"><i class="influencer_instagram_icon icon responsive">Bath and Body Work's Instagram</i></a>
	                    </div>
	                    <div class="influencer_pinterest_button responsive">
	                        <a href="https://www.pinterest.com/bathbodyworks" target="_blank" aria-label="Bath and Body Work's Pinterest" aria-controls="Lookbook_topmenu" id="slide_2_pinterest"><i class="influencer_pinterest_icon icon responsive"></i></a>
	                    </div>                            
	                </div>
	                <div class="Influencer_slide responsive" aria-hidden="true"v><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_Influencer_BG_03.jpg" alt="Let's Go Apple Picking! Apple Picking still feels romantic and fun - Rachel Hollis of The Chic Site" width="100%">
	                	<div class="slide_brn_container responsive">
	                        <a href="http://www.bathandbodyworks.com/family/index.jsp?categoryId=70825246&amp;cp=4090263" id="slide_3_explore" class="explore_btn_cta responsive" aria-label="Rachel's APPLE PICKS" target="_blank">APPLE PICKS</a>
	                    </div> 
	                    <div class="influencer_instagram_button responsive">
	                        <a href="https://instagram.com/bathandbodyworks" target="_blank" aria-label="Bath and Body Work's Instagram" aria-controls="Lookbook_topmenu" id="slide_3_instagram"><i class="influencer_instagram_icon icon responsive">Bath and Body Work's Instagram</i></a>
	                    </div>
	                    <div class="influencer_pinterest_button responsive">
	                        <a href="https://www.pinterest.com/bathbodyworks" target="_blank" aria-label="Bath and Body Work's Pinterest" aria-controls="Lookbook_topmenu" id="slide_3_pinterest"><i class="influencer_pinterest_icon icon responsive"></i></a>
	                    </div>                                                     
	                </div>
	                <div class="Influencer_slide responsive" aria-hidden="true"><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_Influencer_BG_04.jpg" alt="Wrapped in Comfort. Every fall, cardigans and plaid overtake my closet - Melanie Blodgett of You Are My Fave" width="100%">
	                	<div class="slide_brn_container responsive">
	                        <a href="http://www.bathandbodyworks.com/family/index.jsp?categoryId=70825156&amp;cp=4090263" id="slide_4_explore" class="explore_btn_cta responsive" aria-label="Melanie's COZY FAVORITES" target="_blank">COZY FAVORITES</a>
	                    </div> 
	                    <div class="influencer_instagram_button responsive">
	                        <a href="https://instagram.com/bathandbodyworks" target="_blank" aria-label="Bath and Body Work's Instagram" aria-controls="Lookbook_topmenu" id="slide_3_instagram" role="link"><i class="influencer_instagram_icon icon responsive">Bath and Body Work's Instagram</i></a>
	                    </div>
	                    <div class="influencer_pinterest_button responsive">
	                        <a href="https://www.pinterest.com/bathbodyworks" target="_blank" aria-label="Bath and Body Work's Pinterest" aria-controls="Lookbook_topmenu" id="slide_3_pinterest" role="link"><i class="influencer_pinterest_icon icon responsive"></i></a>
	                    </div>                                                   
	                </div>
	                <div class="Influencer_slide responsive" aria-hidden="true"><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_Influencer_BG_05.jpg" alt="Give Thanks. Pumpkin bread baking in the oven evokes memories of autumn gatherings and the Thanksgiving feast ahead! - Jenny Keller of Jenny Cookies" width="100%">
	                	<div class="slide_brn_container responsive">
	                        <a href="http://www.bathandbodyworks.com/family/index.jsp?categoryId=70825256&amp;cp=4090263" id="slide_5_explore" class="explore_btn_cta responsive"  aria-label="Jenny's FALL FAVORITES" target="_blank">FALL FAVORITES</a>
	                    </div>  
	                    <div class="influencer_instagram_button responsive">
	                        <a href="https://instagram.com/bathandbodyworks" target="_blank" aria-label="Bath and Body Work's Instagram" aria-controls="Lookbook_topmenu" id="slide_3_instagram" role="link"><i class="influencer_instagram_icon icon responsive">Bath and Body Work's Instagram</i></a>
	                    </div>
	                    <div class="influencer_pinterest_button responsive">
	                        <a href="https://www.pinterest.com/bathbodyworks" target="_blank" aria-label="Bath and Body Work's Pinterest" aria-controls="Lookbook_topmenu" id="slide_3_pinterest" role="link"><i class="influencer_pinterest_icon icon responsive"></i></a>
	                    </div>                                                    
	                </div> 
	                <button aria-label="Previous Slide" aria-controls="Lookbook_Influencer_Slideshow" id="Influencer_left_btn" class="responsive"><i class="Influencer_left_btn_icon icon responsive"></i></button>   
	                <button aria-label="Next Slide" aria-controls="Lookbook_Influencer_Slideshow" id="Influencer_right_btn" class="responsive"><i class="Influencer_right_btn_icon icon responsive"></i></button>
	                <div id="Influencer_btnHolder" class="responsive"></div>                               
	            </div>               
	        </div>                 
	    </div>
	    <div id="Lookbook_Fall" class="Lookbook_page" aria-hidden="true" >
	        <div >
	            <h1 class="imageHeading"><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_Fall_Traditions_01.jpg" alt="Your Favorite Traditions." width="100%" /></h1>
	        </div>
	        <div >
	            <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_Fall_Traditions_06.jpg" alt="Fall is here! Breathe in brilliant colors, delectable treats and your most loved moments. Sweet Cinnamon Pumpkin, Perfect Autumn Day, Fine Fragrance Mist, Marshmellow Pumpkin Latte, Suncrisp Harvest Apple, and Plum Cider Warmth" width="100%" />
	        </div>
	        <div class="ctaArea sigCTA responsive">
	            <a href="http://www.bathandbodyworks.com/family/index.jsp?categoryId=69910316&cp=4090263" id="SigCTA" class="cta_btn responsive" target="_blank" role="link">SHOP SIGNATURE COLLECTION</a>
	        </div>
	    </div>
	    <div id="Lookbook_Pumpkin" class="Lookbook_page" aria-hidden="true" >
	        <div>
	            <h1 class="imageHeading"><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_Pumpkin_01.jpg" alt="Let's Go Pick Your Pumpkin! Grab your jacket and join us at the pumpkin patch." width="100%" /></h1>
	        </div>
	        <div >
	            <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_Pumpkin_06.jpg" alt="Our favorite fall activites always start with a trip to the pumpkin patch. Sweet Cinnamon Pumpkin, Marshmellow Pumpkin Latte, and Pumpkin Pecan Waffle." width="100%" />
	        </div>
	        <div class="ctaArea pumpkinCTA responsive">
	            <a href="http://www.bathandbodyworks.com/family/index.jsp?categoryId=68889396&cp=4090263" id="PumpkinCTA" class="cta_btn responsive" target="_blank" role="link">SHOP PUMPKIN</a>
	        </div>
	    </div>        
	     <div id="Lookbook_Apple" class="Lookbook_page" aria-hidden="true" >
	        <div >
	            <h1 class="imageHeading"><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_Apple_01.jpg" alt="Let's Go Apple Picking!" width="100%" /></h1>
	        </div>             
	        <div >
	            <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_Apple_06.jpg" alt="Beautiful bounty from the orchard, delicious pie, spicy cider - inulge in everything apple! Sunlight and Apple Trees, Leaves, Suncrisp Apple Harvest, Apple Pumpkin Pancakes" width="100%" />
	        </div>
	        <div class="ctaArea appleCTA responsive">
	            <a href="http://www.bathandbodyworks.com/family/index.jsp?categoryId=70825276&cp=4090263" id="AppleCTA" class="cta_btn responsive" target="_blank" role="link">SHOP APPLE</a>
	        </div>
	    </div> 
	    <div id="Lookbook_Halloween" class="Lookbook_page" aria-hidden="true" >
	        <div >
	            <h1 class="imageHeading"><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_Halloween_01.jpg" alt="Trick or Treat Yourself." width="100%" /></h1>
	        </div>            
	        <div >
	            <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_Halloween_06.jpg" alt="Cast a spell with the perfect potions and spooky scents to haunt your house. New For Your Boo! Purrfect Potion, Vampire Blood, Pumpkin Carving, Spooky Vanilla" width="100%" />
	        </div>
	        <div class="ctaArea halloweenCTA responsive">
	            <a href="http://www.bathandbodyworks.com/family/index.jsp?categoryId=70825266&cp=4090263" id="HalloweenCTA" class="cta_btn responsive" target="_blank" role="link">SHOP HALLOWEEN</a>
	        </div>
	    </div>    
	     <div id="Lookbook_Collection" class="Lookbook_page" aria-hidden="true" >
	        <div >
	            <h1 class="imageHeading"><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_Harvest_Collection_01.jpg" alt="The Perfect Autumn Day." width="100%" /></h1>
	        </div>             
	        <div >
	            <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2015/lookbook_mobile/Lookbook_Harvest_Collection_06.jpg" alt="Your favorite fall moments, captured in our 3-Wick candles. Leaves, Sweater Weather, and Marshmallow Fireside" width="100%" />
	        </div>
	        <div class="ctaArea homeFragCTA responsive">
	            <a href="http://www.bathandbodyworks.com/family/index.jsp?categoryId=70605076&cp=4090263" id="HomeFragCTA" class="cta_btn responsive" target="_blank" role="link">SHOP HOME FRAGRANCE</a>
	        </div>
	    </div>                      
	 </div>
</div>