<%= stylesheet_link_tag "experiences/happy_spring_mobile", media: "screen", "data-turbolinks-track" => true %>

<div id="Mobile_Evergreen">
     <div id="experience-view" aria-hidden="true">
         <div class="image_pane">         
            <a href="" class="noClick"><h1><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/happy_spring/mobile/HS_mobile_01.gif" alt="Bath and Body Works Firstlook. Sun's Up, Flowers are blooming, Blue skies are here. Happy Spring" width="100%" /></h1></a>
        </div>
        <div class="image_pane">         
            <a href="" class="noClick"><h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/happy_spring/mobile/HS_mobile_02.jpg" alt="Spring means new and fresh - exactly why we can't wait to give you a sneak peek of the season's best fragrances!" width="100%" /></h2></a>
        </div>
        <div class="image_pane">         
            <a href="" class="noClick"><h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/happy_spring/mobile/HS_mobile_03.jpg" alt="Warm weather calls for a sweet and refreshing treat. Our favorite? Raspberries and mint - Raspberry and Sweet Mint shower gel" width="100%" /></h2></a>
        </div>
        <div class="image_pane">         
            <a href="" class="noClick"><h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/happy_spring/mobile/HS_mobile_04.jpg" alt="Great news! We're serving up a brand new batch of watermellon lemonade. A fan favorite now in body care too! - Watermellon Lemonade 3 wick candle" width="100%" /></h2></a>
        </div>
        <div class="image_pane">         
            <a href="" class="noClick"><h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/happy_spring/mobile/HS_mobile_05.jpg" alt="Flowers and fruit, lavender and apricot - some scents are just better together - Lavender and Spring Apricot fine fragrance mist" width="100%" /></h2></a>
        </div>
        <div class="image_pane">         
            <a href="" class="noClick"><h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/happy_spring/mobile/HS_mobile_06.jpg" alt="Ah, relaxing on the porch swing... nothing takes us there like a juicy peach scent - Georgia Peach 3 wick candle" width="100%" /></h2></a>
        </div>
        <div class="image_pane">         
            <a href="" class="noClick"><h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/happy_spring/mobile/HS_mobile_07.jpg" alt="Even April showers are perfect when gardenias are blooming - Gardenia spring rain hand soap" width="100%" /></h2></a>
            <a href="http://www.bathandbodyworks.com/family/index.jsp?categoryId=35108546" id="ctaBTN" class="ctaBTN BTN">Get set for spring!</a>
        </div>  
        <div class="image_pane">         
            <a href="" class="noClick"><h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/happy_spring/mobile/HS_mobile_08.jpg" alt="We heart moms! Hey, Firstlook fans! Don't forget - fresh spring scents make a sweet surprise! Mother's day is may 8th! New! A thousand wishes fine fragrance mist, Hello Beautiful shower gel, Hello Beautiful body lotion, Japanese Cherry Blossom fine fragrance mist, and Hello Beautiful body cream" width="100%" /></h2></a>
            <a href="http://www.bathandbodyworks.com/category/index.jsp?categoryId=12587013" id="momBTN" class="momBTN BTN">Shop</a>
        </div>
        <a href="https://www.instagram.com/bathandbodyworks" id="InstaBTN" class="InstaBTN BTN responsive600">Get your daily dose of #HappySpring with us on Instagram</a>
    </div> 
</div>