<%= stylesheet_link_tag "experiences/hawaii", media: "screen", "data-turbolinks-track" => true %>

 
 <div id="Hawaii_Experience" role="application">
        <div id="experience-view" aria-hidden="true">
        	<div class="image_pane">         
                <a href="" class="noClick"><h1><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_bg_01.jpg" alt="Say Aloha To Hawaii!" width="100%" /></h1></a>    
            </div>
            <div id="hula_anim_container" class="image_pane">         
                <a href="" class="noClick"><h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_bg_02_no_hula_girl.jpg" alt="We're Celebrating with a luau every weekend this month! Grab your hula skirt and join us at a store near you to meet our 5 new scents." width="100%" /></h2></a>
                <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_hula_girl_legs_01.png" id="hula_girl_legs" class="responsive" role="presentation" />
                <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_hula_girl_no_legs_01.png" id="hula_girl" class="responsive" role="presentation" />
            </div>
            <div class="image_pane">         
                <a href="" class="noClick"><h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_bg_03.jpg" alt="Invite your friends to join - share the fun below!" width="100%" /></h2></a>    
            </div>
            <div class="gif_area image_pane responsive" id="gif_area_01">
                <a href="" class="noClick gif_text"><h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_text_01.png" alt="Honolulu Sun - A moment in the sun. This warm, creamy coconut is a beach in a bottle" width="100%" /></h2></a>
                <div id="hawaii_aimation01" class="gif_player responsive">
                    <button id="playBTN01" class="playGifBTN responsive">
                        <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_gif_01_B.jpg" class="gif_animation" role="presentation" width="100%" />
                        <span class="hideText">Play Honolulu Sun Animation</span>
                        <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_play_button.png" id="play_button_01" class="play_button responsive" role="presentation" aria-hidden="true" />
                    </button>    
                </div>
                <a href="" id="shareBTN01" class="shareBTN BTN responsive">SHARE!</a>
            </div>
            <div class="gif_area image_pane responsive" id="gif_area_02">
                <a href="" class="noClick gif_text"><h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_text_02.png" alt="Waikiki Beach Coconut - Wave on. Go coconuts and hang ten with this bright, fresh blend!" width="100%" /></h2></a>
                <div id="hawaii_aimation01" class="gif_player responsive">
                    <button id="playBTN02" class="playGifBTN responsive">
                        <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_gif_02_B.jpg" class="gif_animation" role="presentation" width="100%" />
                        <span class="hideText">Play Waikiki Beach Coconut Animation</span>
                        <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_play_button.png" id="play_button_02" class="play_button responsive" role="presentation" aria-hidden="true" />
                    </button>    
                </div>
                <a href="" id="shareBTN02" class="shareBTN BTN responsive">SHARE!</a>
            </div>
            <div class="gif_area image_pane responsive" id="gif_area_03">
                <a href="" class="noClick gif_text"><h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_text_03.png" alt="Aloha Waterfall Orchid - Chasing waterfalls. Escape to lush, fragrant flowers and an island oasis" width="100%" /></h2></a>
                <div id="hawaii_aimation01" class="gif_player responsive">
                    <button id="playBTN03" class="playGifBTN responsive">
                        <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_gif_03_B.jpg" class="gif_animation" role="presentation" width="100%" />
                        <span class="hideText">Play Aloha Waterfall Orchid Animation</span>
                        <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_play_button.png" id="play_button_03" class="play_button responsive" role="presentation"  aria-hidden="true" />
                    </button>    
                </div>
                <a href="" id="shareBTN03" class="shareBTN BTN responsive">SHARE!</a>
            </div>
            <div class="gif_area image_pane responsive" id="gif_area_04">
                <a href="" class="noClick gif_text"><h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_text_04.png" alt="Tiki Mango Mai Tai - Mai Tai anyone? Unwind with this delicious tropical fruity cocktail!" width="100%" /></h2></a>
                <div id="hawaii_aimation01" class="gif_player responsive">
                    <button id="playBTN04" class="playGifBTN responsive">
                        <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_gif_04_B.jpg" class="gif_animation" role="presentation" width="100%" />
                        <span class="hideText">Play Tiki Mango Mai Tai Animation</span>
                        <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_play_button.png" id="play_button_04" class="play_button responsive" role="presentation"  aria-hidden="true" />
                    </button>    
                </div>
                <a href="" id="shareBTN04" class="shareBTN BTN responsive">SHARE!</a>
            </div>
            <div class="gif_area image_pane responsive" id="gif_area_05">
                <a href="" class="noClick gif_text"><h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_text_05.png" alt="Golden Pineapple Luau - Life's a luaua. A fresh blend of juicy pineapple will make you wanna hula!" width="100%" /></h2></a>
                <div id="hawaii_aimation01" class="gif_player responsive">
                    <button id="playBTN05" class="playGifBTN responsive">
                        <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_gif_05_B.jpg" class="gif_animation" role="presentation" width="100%" />
                        <span class="hideText">Play Golden Pineapple Luau Animation</span>
                        <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_play_button.png" id="play_button_05" class="play_button responsive" role="presentation"  aria-hidden="true" />
                    </button>    
                </div>
                <a href="" id="shareBTN05" class="shareBTN BTN responsive">SHARE!</a>
            </div>
            <div class="image_pane">         
                <a href="" class="noClick"><h2><img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_bg_09.jpg" alt="More ways to escape. Bring paradise to every room in your home wiht Candles and Soaps like Fiji White Sands, Tiki Mango Mai Tai, Honolulu Sun, and Rainforest Garden." width="100%" /></h2></a>    
            </div>
            <div class="image_pane responsive" id="CTA_area">         
                <a href="http://www.bathandbodyworks.com/family/index.jsp?categoryId=59462916&amp;cp=4090263" id="ctaBTN" class="ctaBTN BTN responsive">GO SHOP HAWAII!</a>
                <img src="http://bbw.imageg.net/graphics/media/bbw/experience/2016/hawaii_mobile/hawaii_mobile_shop_flower_01.png" id="ctaFlower" class="responsive" alt="" role="presentation" />
            </div>     
            <a href="https://www.instagram.com/bathandbodyworks" target="_blank" id="InstaBTN" class="InstaBTN BTN responsive">30 Days of Aloha. Follow the fun on Instagram #ALOHAHAWAII</a>
        </div>
    </div>